{
  "root": true,
  "env": {
    "commonjs": true,
    "es6": false,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "standard"
  ],
  "plugins": [
    "jest"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  }
}
